body {
  background-color: rgb(250, 219, 139);
}
h1 {
  padding: 20px;
}
p {
  padding-bottom: 20px;
}
.container {
  max-width: 450px;
  height: 450px;
  background-color: white;
  margin: 200px auto;
  text-align: center;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.btn-secondary {
  background-color: rgb(250, 219, 139);
  color: black;
  border: none;
  font-size: 17px;
  padding: 10px 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover {
  background-color: rgb(242, 177, 12);
  color: white;
  cursor: pointer;
}
.deck {
  max-width: 450px;
  height: 450px;
  background-color: white;
  margin: 200px auto;
  text-align: center;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.card {
  
}